$primary: #8BC34A;
$secondary: #878787;
$enable-shadows: true;
@import '~bootstrap/scss/bootstrap';

p > code {
    white-space: normal !important;
}

:not(code) div > p {
    text-indent: 1em;
    &:not(.lead) {
        text-indent: 2em;
    }
}

* {
    transition: all 0.5s;
}