@use './base.scss' as Base;

.contactButton {
    width: max-content;
    height: max-content;
    padding: 0.5em 1em 0.5em 1em;
    transition: transform 0.3s;
    margin: 1em;
}

.contactButton:hover {
    transform: scale(1.05, 1.05);
}

.contactContainer {
    width: 45rem;

    p {
        font-weight: 700;
        font-size: 20px;
        line-height: 25px;
        color: #555555;
        max-width: 100%;
    }
}

.avatar {
    border: solid 0.5em #aaaaaa;
}