@use './base.scss' as Base;
@use './utils.scss' as Utils;

.cardButton {
    transition: transform 0.3s;
    font-size: 20px;
    @extend .zoom;
}

.cardButton:active {
    transform: scale(1, 1);
    box-shadow: 0px 0px 0px 0.3em Base.$darkerGreen;
}
