@use './base.scss' as Base;

@keyframes slidein {
    from {
        margin-top: -100%;
    }
    to {
        margin-top: 0%;
    }
}

@keyframes slideout {
    from {
        margin-top: 0%;
    }
    to {
        margin-top: -100%;
    }
}

.dynamicTopBar {
    position: fixed;
    width: 100%;
    height: 5rem;
    z-index: 5000;
}

.hideDynamicTopBar {
    position: absolute;
}

.showDynamicTopBar {
    position: fixed;
}

.slideFromTop {
    animation-name: slidein;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.slideOutTheTop {
    animation-name: slideout;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.debugConfigsDynamicTopBar {
    background: Base.$lighterGreen;
    // border: solid red 2rem;
}
