@use './base.scss' as Base;

.headerEntry {
    color: #ffffff;
    font-size: 1.5em;
    padding: 0rem 1rem 0rem 1rem;

    @screen lg {
        padding: 0rem 2rem 0rem 2rem;
    }
}

.headerContainer {
    padding: 2rem 2rem 1rem;
    margin-bottom: 1rem;
}

.projectLogo {
    height: 4rem;
}

.projectLogo:hover {
    color: Base.$lighterRed;
}

.headerEntry:hover, .projectLogo:hover {
    color: Base.$lighterRed;
}
