@use './base.scss' as Base;
@use './utils.scss';

.homePageCard {
    @screen lg {
        min-width: max-content;
        // width: 40%
    }
    h6 {
        color: #666666;
    }
    transition: transform 0.3s;

    @extend .zoom;
}

.cardButton {
    max-width: max-content;
}
