@use './base.scss' as Base;
@use './utils.scss';

.codeBox {
    width: min-content;
    padding: 1rem;
    border-left: solid Base.$lighterGreen 0.5rem;
}

.cardContainer {
    transition: transform 0.5s;
    @extend .zoom;
    * {
        overflow-x: auto;
    }
}

.moneyButton {
    width: 25em;
}

.pageGrid {
    display: grid;
    grid-template:
        "examplesHeader"
        "examples"
        "cardHeaders"
        "cards" / 100%;
}
