@use './base.scss' as Base;

.pageContainer {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    justify-content: center;

    @screen lg {
        flex-direction: row;
    }
}

.markdownContent {
    @screen lg {
        width: 50%;
    }
}